#div2{
    padding: 4%;      
    margin-left: 50%;    
    color:#FFB200;   
    font-style: italic;
    font-size: 25px;
}
table{
    height:300px;
}
input,select{
    width:200px;
    height: 50px;
    border:3px solid goldenrod;
    font-size: 25px;
}
input[type=submit]{
    background-color: #FFF4CF;
    color:crimson;
}
#div1{
    width:100%;
    height: 565px;
}
