#container{
    border:2px solid;
    width:100%;
    height: 565px;
}
table, th, td {
    border-collapse: collapse;
  }
th{
    font-size: 30px;
    color:rgb(240, 216, 7);
}
#div2{
    float:right;
    margin-left: 25%;
}